<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Welcome, {{ username }}!</h2>

        <!-- logs u out -->
        <form action="{{ url_for('auth.logout') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" class="secondary-btn">Logout</button>
        </form>

        <!-- go to chat -->
        <form action="/chat_page" method="GET" style="margin-top: 10px;">
            <button type="submit" class="secondary-btn">Main Chat</button>
        </form>

        <!-- messages based on the error type in backend -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, msg in messages %}
                        <div class="flash flash-{{ category }}">{{ msg }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
